<div class="page-header">
  <h1>Edit Article</h1>
</div>
<div class="form-card">
  <%= render "form", article: @article %>
  <div style="margin-top: 1rem;">
    <%= link_to "← Back", article_path(@article), class: "btn btn-secondary" %>
  </div>
</div>
